@import url('https://fonts.googleapis.com/css?family=Lato:300')
@import 'colors'

*
  margin 0
  padding 0
  box-sizing border-box

html
  height 100%

body
  background-image:
    url('/img/bg.png'),
    linear-gradient(gradLgt, gradDrk)
  background-repeat no-repeat
  background-size cover
  background-position bottom center
  font-family 'Lato', sans-serif
  font-weight 300
  text-align center
  color white
  min-height 100%
  padding 20px

.logo
  width 150px
  margin 100px 0 50px

p
  font-size 20px

a
  color zabOrange
  text-decoration none
  &:hover
    opacity 0.6

h1
  color red

button
  padding 8px 15px
  background none
  border 1px solid silver
  color silver
  font-size 14px
  cursor pointer
  outline none
  opacity 1
  &:hover
    opacity .7

input
  border none
  padding 8px 15px
  background white
  border-radius 4px
  outline none
  width 300px
